/tests export-ignore
/phpunit.xml export-ignore
/phpunit.xml.dist export-ignore
/.github export-ignore
/.gitignore export-ignore
/.appyhp export-ignore
/.env export-ignore
/composer.lock export-ignore
/vendor export-ignore
